.contactsForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.honeypot {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.contactsForm button {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--body-font);
    font-weight: 500;
    text-transform: uppercase;
    padding: .75rem;
    border: none;
    cursor: pointer;
    transition: all .2s;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexGroup {
    display: flex;
    gap: 1rem;
}

.flexGroup div {
    flex: 1;
}

.errorBanner {
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: rgb(255, 95, 95);
}

.error {
    color: rgb(255, 82, 82);
    margin: 0;
}

.success {
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

@media screen and (max-width: 576px) {
    .flexGroup {
        flex-direction: column;
    }
}
