*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --bg-color: #f5f5f5;
  --text-color: #424242;
  --muted-text-color: #666;
  --brand-color: #4caf50;
  --brand-surface-color: #2e7d32;
  --text-on-brand-color: #000;
  --accent-text-color: #2e7d32;
  --accent-text-on-dark-color: #81c784;
  --filled-control-background: #2e7d32;
  --filled-control-background-hover: #1b5e20;
  --control-border-color: #767676;
  --accent-border-color: #2e7d32;
  --focus-indicator-color: #1b5e20;
  --focus-indicator-on-dark-color: #fff;
  --error-text-color: #b00020;
  --error-background-color: #b00020;
  --error-surface-color: #ffe7ec;
  --success-background-color: #2e7d32;

  --heading-font: "Lato", sans-serif;
  --body-font: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-weight: 700 !important;
}

h2 {
  font-weight: 600 !important;
}

h3 {
  font-weight: 500 !important;
}

p,
a,
li,
label,
input,
button,
span,
th,
td {
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--brand-surface-color);
}

::selection {
  background: var(--brand-color);
  color: var(--text-on-brand-color);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/** COOKIE BANNER **/
.cky-consent-container .cky-consent-bar {
  box-shadow: none !important;
}

.cky-modal div[data-cky-tag="detail-powered-by"] {
  display: none !important;
}

@media (max-width: 768px) {
  .row {
    margin: 0 !important;
  }
}
