*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --bg-color: #f5f5f5;
  --text-color: #424242;
  --primary-color: #4caf50;
  --hover-color: #2e7d32;

  --heading-font: "Lato", sans-serif;
  --body-font: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-weight: 700 !important;
}

h2 {
  font-weight: 600 !important;
}

h3 {
  font-weight: 500 !important;
}

p,
a,
li,
label,
input,
button,
span,
th,
td {
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/** COOKIE BANNER **/
.cky-consent-container .cky-consent-bar {
  box-shadow: none !important;
}

.cky-modal div[data-cky-tag="detail-powered-by"] {
  display: none !important;
}

@media (max-width: 768px) {
  .row {
    margin: 0 !important;
  }
}