.contactsContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background-color: var(--bg-color);
}

.contactsHeading {
    background-color: black;
    padding: 10rem 0 1rem 0;
}

.contactsHeading h1 {
    color: white;
    font-size: clamp(2rem, 1.875rem + 1.5vw, 3rem);
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.contactInfos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
}

.contactsAddress, .contactsPhone, .contactsEmail {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.contactsAddress img, .contactsPhone img, .contactsEmail img {
    width: 48px;
    height: auto;
}

.contactsAddress p {
    color: var(--text-color);
    margin: 0;
    font-size: clamp(1.375rem, 1.329rem + 0.19vw, 1.5rem);
}

.contactsPhone a, .contactsEmail a {
    color: var(--text-color);
    text-decoration: none;
    font-size: clamp(1.375rem, 1.329rem + 0.19vw, 1.5rem);
    display: block;
}