.maintenance {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100dvh;
}

.maintenanceContent h1, .maintenanceContent h2 {
    margin: 0;
    text-align: center;
}

.maintenanceContent h1 {
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--white);
}

.maintenanceContent h2 {
    font-size: 1.5rem;
    color: var(--accent-text-on-dark-color);
    font-weight: 700;
}

.overlay {
    position: absolute;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.maintenance img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay img {
    width: 300px;
    height: auto;
}

.maintenanceContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.maintenanceContacts a {
    color: var(--accent-text-on-dark-color);
    border: 1px solid var(--accent-text-on-dark-color);
    padding: .5rem 1rem;
    text-align: center;
    width: 300px;
    font-family: var(--body-font);
    font-weight: 500;
    text-decoration: none;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.maintenanceContacts a img {
    width: 20px;
    height: auto;
}

.maintenanceContacts a:focus-visible {
    outline: 3px solid var(--focus-indicator-on-dark-color);
    outline-offset: 3px;
}
